<!-- STEP 11 code for messages -->
<!-- <main class="messages-list"> -->
  <!-- STEP 16 Create a loop to display the messages -->
  <!-- 16.1: Add div here -->
  <div *ngFor="let msg of messages" class="message {{msg.sender === bot? 'message-left': 'message-right'}}" #messageList>
    <div class="message-bubble-{{msg.sender === bot? 'left': 'right'}}">
      <strong>{{msg.sender}}</strong>
      <p class="message-text">
        <!-- 35: format of message output-->
       {{msg.text}}
      </p> <!-- 16.3: add {{msg}} -->
    </div>
  </div><!-- 16.2: close div here -->
<!-- </main> -->


<!-- STEP 12 Open message.component.ts -->
